/*************************************
Custom Code
*/

.chef-events-collection-item > *{
  font-family: 'Montserrat', sans-serif !important;
}

div#main_page_content.page-content.f-1 div.card-list-item__image img {
    border-radius: 0px !important;
}

div.card-list-item__content {
    margin-top:10px !important;
}

a.eventitem-backlink {
  color: #33589e;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif !important;
}

a.eventitem-backlink:before {
  content: "< "!important;
  width: auto !important;
}

span.event-datetime-divider:before {
  content: "-" !important;
}

.eventitem {
  text-align: left !important;
}

/*************************************
c-events.css
*/

/*
        h1 {
            font-weight: 400;
            text-align: center;
        }
*/
.event-body {
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/*
h1 {
  font-family: sans-serif;
  color: #555;
}*/

.chef-photo-container {
  font-size: 1.5em;
  background-color: #2c3e52;
  color: white;
  padding: 0 20px;
  text-align: center;
  grid-area: photo;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.event-card-container {
  margin: 10px;
  display: grid;
  grid-template-areas: 'photo info';
  grid-template-columns: 150px 1fr;
  width: 500px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  line-height: 1.75em;
}

.info-container {
  padding: 20px;
  grid-area: info;
}

.event-name {
  font-weight: bold;
  padding-bottom: 5px;
}

.event-times {
  font-weight: 300;
}

.chef-day {
  font-weight: 300;
}

.chef-month {
  font-weight: 600;
}

@media ( max-width: 600px ) {
  .event-card-container {
      width: 90%;
  }

}
/* This is just a helper in case the element has a transparent background or white colors.
body {
font-family: serif;
background: #eee;
}
*/

.chef-events-collection-item.events.events-item {
box-sizing: border-box;
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
margin: 0 auto;
max-width: 1000px;
min-height: 66vh;
padding: 0 0;
}

@media screen and (max-width: 767px) {
.chef-events-collection-item.events.events-item {
padding-left: 6vw;
padding-right: 6vw;
}
}

a.eventitem-backlink {
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: none;
background-origin: padding-box;
background-position: 0 75%;
background-repeat: repeat;
background-size: auto;
color: inherit;
cursor: pointer;
display: inline-block;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
margin: 0 0 51px;
position: relative;
text-decoration: none currentcolor solid;
}

a.eventitem-backlink:focus {
outline: thin dotted #000000;
}

a.eventitem-backlink:active {
outline: 0 none currentcolor;
}

a.eventitem-backlink:hover {
outline: 0 none currentcolor;
}

a.eventitem-backlink:before {
content: "â† ";
display: inline-block;
margin-right: .25em;
width: 1em;
}

article#article-62bf04e9eb31c67ea27aa071.eventitem {
align-content: flex-start;
color: #000000;
display: flex;
flex-direction: row;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
justify-content: flex-start;
letter-spacing: .176px;
line-height: 28.1667px;
position: relative;
}

@media only screen and (max-width: 639px) {
article#article-62bf04e9eb31c67ea27aa071.eventitem {
display: block;
}
}

div.eventitem-column-meta {
box-sizing: border-box;
color: #000000;
flex: 1 0 30%;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
}

@media only screen and (max-width: 639px) {
div.eventitem-column-meta {
margin-bottom: 34px;
padding: 0;
width: 100%;
}
}

h1.eventitem-title {
color: #002D73;
font-family: 'Montserrat', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 400;
letter-spacing: .02em;
line-height: 1.2em;
margin: 0 0 34px;
padding: 0;
text-transform: none;
text-align: left;
}

@media only screen and (max-width: 639px) {
h1.eventitem-title {
margin-bottom: 17px;
}
}

ul.eventitem-meta.event-meta.event-meta-date-time-container {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
list-style: none;
list-style: none;
margin: 0 0 17px;
padding: 0;
}

li.eventitem-meta-item.eventitem-meta-date.event-meta-item {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: .9em;
letter-spacing: .176px;
line-height: 1.6em;
list-style: none;
margin: 0;
padding: 0;
text-align: left;
}

time.event-date {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 15.84px;
letter-spacing: .176px;
line-height: 25.35px;
list-style: none;
text-align: left;
}

li.eventitem-meta-item.eventitem-meta-time.event-meta-item {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: .9em;
letter-spacing: .176px;
line-height: 1.6em;
list-style: none;
margin: 0;
padding: 0;
text-align: left;
}

span.event-time-localized {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 15.84px;
letter-spacing: .176px;
line-height: 25.35px;
list-style: none;
text-align: left;
}

time.event-time-localized-start {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 15.84px;
letter-spacing: .176px;
line-height: 25.35px;
list-style: none;
text-align: left;
}

span.event-datetime-divider {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 15.84px;
letter-spacing: .176px;
line-height: 25.35px;
list-style: none;
text-align: left;
}

span.event-datetime-divider:before {
content: " â€“";
}

time.event-time-localized-end {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 15.84px;
letter-spacing: .176px;
line-height: 25.35px;
list-style: none;
text-align: left;
}

ul.eventitem-meta.event-meta.event-meta-addtocalendar-container {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
list-style: none;
list-style: none;
margin: 0 0 17px;
padding: 0;
}

li.eventitem-meta-item.eventitem-meta-export.event-meta-item {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: .9em;
letter-spacing: .176px;
line-height: 1.6em;
list-style: none;
margin: 0;
padding: 0;
text-align: left;
}

a.eventitem-meta-export-google {
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: none;
background-origin: padding-box;
background-position: 0 75%;
background-repeat: repeat;
background-size: auto;
color: inherit;
cursor: pointer;
font-family: 'Montserrat', sans-serif;
font-size: 15.84px;
letter-spacing: .176px;
line-height: 25.35px;
list-style: none;
text-align: left;
text-decoration: none currentcolor solid;
}

a.eventitem-meta-export-google:focus {
outline: thin dotted #000000;
}

a.eventitem-meta-export-google:active {
outline: 0 none currentcolor;
}

a.eventitem-meta-export-google:hover {
outline: 0 none currentcolor;
}

span.eventitem-meta-export-divider {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 15.84px;
letter-spacing: .176px;
line-height: 25.35px;
list-style: none;
margin: 0 4px;
text-align: left;
}

span.eventitem-meta-export-divider:before {
content: "Â·";
}

a.eventitem-meta-export-ical {
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: none;
background-origin: padding-box;
background-position: 0 75%;
background-repeat: repeat;
background-size: auto;
color: inherit;
cursor: pointer;
font-family: 'Montserrat', sans-serif;
font-size: 15.84px;
letter-spacing: .176px;
line-height: 25.35px;
list-style: none;
text-align: left;
text-decoration: none currentcolor solid;
}

a.eventitem-meta-export-ical:focus {
outline: thin dotted #000000;
}

a.eventitem-meta-export-ical:active {
outline: 0 none currentcolor;
}

a.eventitem-meta-export-ical:hover {
outline: 0 none currentcolor;
}

.eventitem-column-content {
box-sizing: border-box;
color: #000000;
flex: 1 0 70%;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
overflow: hidden;
padding-left: 34px;
}

@media only screen and (max-width: 639px) {
.eventitem-column-content {
padding: 0;
width: 100%;
}
}

.chef-layout.chef-grid-12.columns-12 {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
}

.row.chef-row {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
margin-left: -17px;
margin-right: -17px;
width: auto;
}

.row.chef-row:before {
content: "";
display: table;
}

.row.chef-row:after {
clear: both;
content: "";
display: table;
}

.col.chef-col-12.span-12 {
color: #000000;
float: left;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
width: 100%;
}

@media screen and (max-width: 767px) {
.col.chef-col-12.span-12 {
float: none;
width: auto;
}
}

.col.chef-col-12.span-12:last-child {
padding-right: 0;
}

.chef-block.image-block.chef-block-image.chef-text-ready {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
height: auto;
letter-spacing: .176px;
line-height: 28.1667px;
padding: 17px;
position: relative;
}

.chef-block.image-block.chef-block-image.chef-text-ready:not(.float):not(.chef-feature-gated-wrapper):first-child {
padding-top: 0;
}

.chef-block.image-block.chef-block-image.chef-text-ready:not(.chef-block-html):not(.chef-block-markdown) {
clear: both;
}

@media screen and (max-width: 767px) {
.chef-block.image-block.chef-block-image.chef-text-ready:first-child {
padding-top: 17px;
}
}

@media screen and (max-width: 767px) {
.chef-block.image-block.chef-block-image.chef-text-ready:last-child {
padding-bottom: 17px;
}
}

.chef-block-content {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
}

.image-block-outer-wrapper.layout-caption-hidden.design-layout-inline.combination-animation-site-default.individual-animation-site-default.individual-text-animation-site-default.animation-loaded {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
transform: translateZ(0);
}

figure#yui_3_17_2_1_1657311990267_67.chef-block-image-figure.intrinsic {
color: #000000;
display: block;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
margin: 0 auto;
max-width: 3500px;
}

.image-block-wrapper {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
min-height: 1px;
overflow: hidden;
position: relative;
}

.image-block-wrapper:after {
bottom: 0;
content: "";
left: 0;
opacity: .1;
position: absolute;
right: 0;
top: 0;
}

.chef-image-shape-container-element.has-aspect-ratio {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
overflow: hidden;
padding-bottom: 66.65714263916016%;
position: relative;
}

.chef-events-collection-item.events.events-item .chef-image-shape-container-element.has-aspect-ratio noscript {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
}

img.thumb-image.loaded {
border: 0 none currentcolor;
border-image: none 100% 1 0 stretch;
color: #000000;
cursor: default;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
height: 100%;
left: -.00714388%;
letter-spacing: .176px;
line-height: 28.1667px;
position: absolute;
top: 0;
width: 100.014%;
}

img.thumb-image.loaded:not([src]):not([srcset]) {
visibility: hidden;
}

.chef-block.html-block.chef-block-html {
clear: none;
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
height: auto;
letter-spacing: .176px;
line-height: 28.1667px;
padding: 17px;
position: relative;
}

@media screen and (max-width: 767px) {
.chef-block.html-block.chef-block-html:first-child {
padding-top: 17px;
}
}

@media screen and (max-width: 767px) {
.chef-block.html-block.chef-block-html:last-child {
padding-bottom: 17px;
}
}

div.chef-block-content {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
outline: medium none currentcolor;
}

div.chef-block-content:not(h1):not(h2):not(h3) {
overflow-wrap: break-word;
}

.chef-events-collection-item.events.events-item div.chef-block-content p {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
margin: 1rem 0;
white-space: pre-wrap;
}

.chef-events-collection-item.events.events-item div.chef-block-content p:first-child {
margin-top: 0;
}

.chef-events-collection-item.events.events-item div.chef-block-content p:last-child {
margin-bottom: 0;
}

div.eventitem-content-footer {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
margin: 17px 0 0;
}

div.clear {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
}

div.clear:after {
clear: both;
content: ".";
display: block;
font-size: 0;
height: 0;
visibility: hidden;
}

.event-image {
border: 0 none currentcolor;
border-image: none 100% 1 0 1 0;
border-radius: 25px;
color: #000000;
font-family: sans-serif;
font-size: 17.6px;
height: auto;
left: 5px;
letter-spacing: .176px;
line-height: 28.1667px;
max-width: 100%;
opacity: 1;
padding: 20px;
position: relative;
right: 0;
width: 89.2%;
}


a.register-btn {
background-attachment: scroll;
background-clip: border-box;
background-color: #17A2B8;
background-image: none;
background-origin: padding-box;
background-position: 0 0;
background-repeat: repeat;
background-size: auto;
border: 1px solid #17A2B8;
border-image: none 100% 1 0 stretch;
border-radius: .25rem;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
padding: .375rem .75rem;
text-align: center;
text-decoration: none currentcolor solid;
transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
user-select: none;
vertical-align: middle;
white-space: nowrap;
}

a.register-btn:link {
color: #FFFFFF;
}
a.register-btn:visited {
color: #FFFFFF;
}

a.register-btn:hover {
color: #94ACAD;
}


.event-name {
color: #666666;
font-family: sans-serif;
font-weight: 700;
line-height: 28px;
padding-bottom: 5px;
font-size: 18px;
}

.event-name.event-name-link {
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: none;
background-origin: padding-box;
background-position: 0 0;
background-repeat: repeat;
background-size: auto;
color: #666666;
font-family: sans-serif;
font-weight: 700;
line-height: 28px;
padding-bottom: 5px;
text-decoration: none currentcolor solid;
}

.event-name.event-name-link:focus {
outline: thin dotted currentcolor;
}

.event-name.event-name-link:active {
outline: 0 none currentcolor;
}

.event-name.event-name-link:hover {
outline: 0 none currentcolor;
}

.chef-block-button-container.chef-block-button-container{
box-sizing: border-box;
color: #000000;
font-family: sans-serif;
font-size: 17.6px;
letter-spacing: .176px;
line-height: 28.1667px;
text-align: left;
padding-left: 20px;
}

/*************************************
t-events.css
*/

div#main_page_content.page-content.f-1 {
    color: #3D3D3D;
    flex: 1 1 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 24px;
    margin: 0;
    padding: 1.5rem;
  }
  
  @media (min-width: 720px) {
    div#main_page_content.page-content.f-1 {
      padding: 2rem;
    }
  }
  
  div.f-1.container.container--wide {
    color: #3D3D3D;
    flex: 1 1 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 24px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
  @media (min-width: 720px) {
    div.f-1.container.container--wide {
      max-width: 900px;
    }
  }
  
  div.f-1.container.container--wide div {
    color: #3D3D3D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 24px;
    margin: 0;
    outline: currentcolor medium;
    padding: 0;
  }
  
  div div {
    color: #3D3D3D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 24px;
    margin: 0;
    outline: currentcolor medium;
    padding: 0;
  }
  
  div.action-drawer.mb-2.mb-4\@md.d-f\@sm.ai-fs {
    align-items: flex-start;
    background: #FAFAFA;
    background-repeat: repeat;
    border-radius: 4px;
    color: #3D3D3D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 24px;
    margin: 0 0 1rem;
    padding: 1rem;
  }
  
  @media screen and (min-width: 600px) {
    div.action-drawer.mb-2.mb-4\@md.d-f\@sm.ai-fs {
      display: flex;
    }
  }
  
  @media (min-width: 720px) {
    div.action-drawer.mb-2.mb-4\@md.d-f\@sm.ai-fs {
      margin-bottom: 2rem;
    }
  }
  
  div.d-b.d-f\@sm.fw-w.mb-1.mb-0\@sm.mr-1\@sm {
    color: #3D3D3D;
    display: block;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 24px;
    margin: 0 0 .5rem;
    padding: 0;
  }
  
  @media screen and (min-width: 600px) {
    div.d-b.d-f\@sm.fw-w.mb-1.mb-0\@sm.mr-1\@sm {
      display: flex;
    }
  }
  
  @media (min-width: 601px) {
    div.d-b.d-f\@sm.fw-w.mb-1.mb-0\@sm.mr-1\@sm {
      margin-bottom: 0;
      margin-right: .5rem;
    }
  }
  
  div.d-b.d-f\@sm.fw-w {
    color: #3D3D3D;
    display: block;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 24px;
    margin: 0;
    padding: 0;
  }
  
  @media screen and (min-width: 600px) {
    div.d-b.d-f\@sm.fw-w {
      display: flex;
    }
  }
  
  div.dropdown {
    color: #3D3D3D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  button.select.ta-l {
    appearance: none;
    background-color: #FFFFFF;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22\a %20%20%20viewBox%3D%220%200%2032%2032%22%20enable-background%3D%22new%200%200%2030%2030%22%20xml%3Aspace%3D%22preserve%22%3E\a %3Cpath%20fill%3D%22%23b7b7b7%22%20d%3D%22M31.858%208.928l-3.54-4.034-12.442%2014.142-12.194-13.9-3.54%204.036%2015.734%2017.934%2015.982-18.178z%22%2F%3E\a %3C%2Fsvg%3E);
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
    background-size: 10px;
    border: .666667px solid #E0E0E0;
    border-image: none 100% 1 0 stretch;
    border-radius: 4px;
    color: #3D3D3D;
    cursor: pointer;
    display: inline-block;
    font-family: undefined;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    padding: 0 33px 0 10px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 100%;
  }
  
  button.select.ta-l:disabled {
    border-color: #EEEEEE;
    color: #CCCCCC;
    cursor: default;
  }
  
  button.select.ta-l:focus-visible {
    box-shadow: 0 0 2px #42A5F5;
    outline: 1px solid #42A5F5;
    outline-offset: 1px;
  }
  
  button.select.ta-l:focus:focus-visible {
    color: transparent;
    text-shadow: #000000 0 0 0;
  }
  
  div#main_page_content.page-content.f-1 button.select.ta-l span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  span.caret.c-primary {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  ul.dropdown__menu {
    background: #FFFFFF;
    background-repeat: repeat;
    border: .666667px solid #E0E0E0;
    border-image: none 100% 1 0 stretch;
    border-radius: 4px;
    color: #3D3D3D;
    display: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    left: 0;
    line-height: 24px;
    list-style: none;
    list-style: none;
    margin: 2px 0 1rem;
    min-width: 180px;
    padding: 4px 0;
    position: absolute;
    z-index: 9;
  }
  
  li.dropdown__item.p-0 {
    color: #3D3D3D;
    cursor: pointer;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
  }
  
  li.dropdown__item.p-0:focus {
    outline: medium none currentcolor;
  }
  
  li.dropdown__item.p-0:hover {
    background: #F7F7F7;
    background-repeat: repeat;
  }
  
  li.dropdown__item.p-0:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  li.dropdown__item.p-0:last-child {
    border-bottom: medium none currentcolor;
  }
  
  div#main_page_content.page-content.f-1 li.dropdown__item.p-0 button {
    background-color: transparent;
    border: medium;
    color: #424242;
    cursor: pointer;
    display: block;
    font-family: undefined;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    list-style: none;
    padding: .5rem .75rem;
    text-align: left;
    width: 100%;
  }
  
  div#main_page_content.page-content.f-1 li.dropdown__item.p-0 button:focus-visible {
    outline: 2px solid #42A5F5;
    outline-offset: 1px;
  }
  
  section.card-list {
    color: #3D3D3D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 24px;
  }
  
  @media (min-width: 601px) {
    section.card-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -16px;
      margin-top: -16px;
    }
  }
  
  @media (min-width: 720px) {
    section.card-list {
      margin-left: -32px;
      margin-top: -32px;
    }
  }
  
  article.card-list__item {
    color: #3D3D3D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 24px;
  }
  
  @media (max-width: 600px) {
    article.card-list__item {
      background-attachment: scroll;
      background-clip: border-box;
      background-color: transparent;
      background-image: none;
      background-origin: padding-box;
      background-position: 0 0;
      background-repeat: repeat;
      background-size: auto;
      margin-bottom: 1rem;
    }
  }
  
  @media (min-width: 601px) {
    article.card-list__item {
      flex: 1 0 272px;
      margin-left: 16px;
      margin-top: 16px;
      position: relative;
    }
  }
  
  @media (min-width: 601px) and (min-width: 576px) {
    article.card-list__item {
      max-width: calc(50% - 16px);
    }
  }
  
  @media (min-width: 601px) and (min-width: 864px) {
    article.card-list__item {
      max-width: calc(33.3333% - 16px);
    }
  }
  
  @media (min-width: 601px) and (min-width: 816px) {
    article.card-list__item {
      min-width: calc(33.3333% - 16px);
    }
  }
  
  @media (min-width: 601px) and (min-width: 720px) {
    article.card-list__item {
      flex: 1 0 272px;
      margin-left: 32px;
      margin-top: 32px;
    }
  }
  
  @media (min-width: 601px) and (min-width: 720px) and (min-width: 608px) {
    article.card-list__item {
      max-width: calc(50% - 32px);
    }
  }
  
  @media (min-width: 601px) and (min-width: 720px) and (min-width: 912px) {
    article.card-list__item {
      max-width: calc(33.3333% - 32px);
    }
  }
  
  @media (min-width: 601px) and (min-width: 720px) and (min-width: 816px) {
    article.card-list__item {
      min-width: calc(33.3333% - 32px);
    }
  }
  
  a.card-list-item__wrapper-link {
    color: inherit;
    cursor: pointer;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: inherit;
    line-height: 24px;
    text-decoration: none currentcolor solid;
  }
  
  a.card-list-item__wrapper-link:focus-visible {
    outline: 2px solid #42A5F5;
    outline-offset: 1px;
  }
  
  div.card-list-item__image {
    background-color: #F7F7F7;
    color: #3D3D3D;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 24px;
    margin: 0 0 12px;
    padding: 0;
  }
  
  div#main_page_content.page-content.f-1 div.card-list-item__image img {
    border-radius: 4px;
    color: #3D3D3D;
    cursor: pointer;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 24px;
    max-width: 100%;
    width: 100%;
  }
  
  div.card-list-item__content {
    color: #3D3D3D;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 24px;
    margin: 0;
    padding: 0;
  }
  
  h1.card-list-item__title.false {
    color: #1F1F1F;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: 1.333;
    margin: 0;
    padding: 0;
  }
  
  div#main_page_content.page-content.f-1 h1.card-list-item__title.false div {
    color: #1F1F1F;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    line-height: 21.3333px;
    margin: 0;
    padding: 0;
  }
  
  div.card-list-item__details {
    color: #3D3D3D;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 601px) {
    div.card-list-item__details {
      padding-top: 6px;
    }
  }